In [207]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Pandas
**Pandas is a fast powerful , flexible and easy to use open source data analysis and manipulation tool,built on top of Python Programming Language**

In [209]:
import pandas as pd 
import numpy as np

**Series** : A Pandas series is like a coloumn in a table

### different ways to create a series

In [212]:
country =['India','Nepal','SriLanka']
countries = pd.Series(country) # in Pandas Series is a class and we are creating an object 
# by giving an input List 
countries
countries[0]

0       India
1       Nepal
2    SriLanka
dtype: object

'India'

#### Providing my own index name

In [214]:
marks = [80,90,70]
subjects =['Mathematics','English','Science']

pd.Series(marks,index = subjects)

Mathematics    80
English        90
Science        70
dtype: int64

In [215]:
marks = [80,90,70]
subjects =['Mathematics','English','Science']
                                                     # setting a name 
marks_data = pd.Series(marks,index = subjects ,name = "My Marks")
marks_data
marks_data.name
marks_data['Mathematics'] # using custom index to access the value

Mathematics    80
English        90
Science        70
Name: My Marks, dtype: int64

'My Marks'

80

#### using a dictionary to create a series 
* In case of dictionary the keys automatically become the index of the series

In [217]:


marks_dict = {
    'maths': 78,
    'english': 76,
    'science': 79
}

marks_series = pd.Series(marks_dict)
marks_series

maths      78
english    76
science    79
dtype: int64

## Series Attributes

In [219]:
marks = [80,90,70]
subjects =['Mathematics','English','Science']
                                                     # setting a name 
marks_data = pd.Series(marks,index = subjects ,name = "My Marks")

In [220]:
# size 
marks_data.size

3

In [221]:
# dtype 
marks_data.dtype

dtype('int64')

In [222]:
#name 
marks_data.name

'My Marks'

In [223]:
# is_unique 
marks_series.is_unique
pd.Series([1,1,2,2]).is_unique

True

False

In [224]:
# index 
marks_series.index

Index(['maths', 'english', 'science'], dtype='object')

# Series using read_csv

In [226]:
# subs = pd.read_csv('subs.csv') 
# by default read_csv brings the data in the form of data frame

subs = pd.read_csv('subs.csv')
subs.head()
subs_series = subs.iloc[:, 0]  # Selecting the first column as a Series
subs_series.head()

   Subscribers gained
0                  48
1                  57
2                  40
3                  43
4                  44

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [227]:
# Assuming you've already loaded the data into a DataFrame called kohli_ipl
kohli_ipl = pd.read_csv('kohli_ipl.csv')  # Replace with actual file path if necessary

# Set 'match_no' as the index
kohli_ipl.set_index('match_no', inplace=True)

# Now selecting the 'runs' column as a Series
kohli_runs_series = kohli_ipl['runs']
print(kohli_runs_series.head())

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [228]:
movies = pd.read_csv('bollywood.csv')
movies.head()
type(movies)
movies.set_index('movie',inplace= True)
movies.head()
type(movies)

                                  movie              lead
0              Uri: The Surgical Strike     Vicky Kaushal
1                         Battalion 609       Vicky Ahuja
2  The Accidental Prime Minister (film)       Anupam Kher
3                       Why Cheat India     Emraan Hashmi
4                       Evening Shadows  Mona Ambegaonkar

pandas.core.frame.DataFrame

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar

pandas.core.frame.DataFrame

### Some important Attributes

#### head and tail

In [231]:
subs_series.head(12) # 12 values from top
subs_series.tail(5) # 5 values from bottom

0     48
1     57
2     40
3     43
4     44
5     46
6     33
7     40
8     44
9     74
10    49
11    56
Name: Subscribers gained, dtype: int64

360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, dtype: int64

#### sample

In [ ]:
# Sample 
movies.sample(4) # will return 4 randomly selected rows

#### value_counts

In [ ]:
# value_counts 
movies.value_counts().head() # finds how many times a value appeared

### sort_values and sort_index

**Note `sort_values` wont change the actual data if we need to store it somewhere or we can use this `inplace= True` argument**

In [235]:
type(kohli_ipl)
sorted_kohli_runs = kohli_ipl.sort_values('runs',ascending=False) # we sorted the dataframe on the basis of runs
sorted_kohli_runs.head()

kohli_ipl.sort_values('runs',ascending=False,inplace=True)
kohli_ipl.head()

pandas.core.frame.DataFrame

          runs
match_no
128        113
126        109
123        108
164        100
120        100

          runs
match_no
128        113
126        109
123        108
164        100
120        100

In [262]:
movies.head()
movies.sort_index().head()
# movies.sort_index(inplace=True) -> we can use this if we want to change the original data

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar

                                    lead
movie
1920 (film)             Rajniesh Duggall
1920: London               Sharman Joshi
1920: The Evil Returns       Vicky Ahuja
1971 (2007 film)          Manoj Bajpayee
2 States (2014 film)        Arjun Kapoor

# Some important mathematical functions

* `size` : it also counts the missing values
* `count`: it does not count the missing values

In [274]:
kohli_runs_series.size
kohli_runs_series.count()

215

215

In [279]:
subs.head()
subs.sum()

   Subscribers gained
0                  48
1                  57
2                  40
3                  43
4                  44

Subscribers gained    49510
dtype: int64

In [281]:
subs.mean()

Subscribers gained    135.643836
dtype: float64

In [291]:
kohli_ipl['runs'].median()
movies.mode()

24.0

           lead
0  Akshay Kumar

In [295]:
kohli_ipl['runs'].max()
kohli_ipl['runs'].min()

113

0

In [297]:
kohli_ipl['runs'].describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

# Series Indexing

In [306]:
x = pd.Series([12,12,3,34,43,234,35,32,34])
x

0     12
1     12
2      3
3     34
4     43
5    234
6     35
7     32
8     34
dtype: int64

## Editing an item in series

In [309]:
data = {'maths': 78, 'english': 76, 'science': 79}
marks_series = pd.Series(data)
print("Before editing:")
print(marks_series)

Before editing:
maths      78
english    76
science    79
dtype: int64

In [311]:
marks_series['english'] = 85
print("\nAfter editing by label:")
print(marks_series)

After editing by label:
maths      78
english    85
science    79
dtype: int64