In [22]:
def func(name,age):
    print(f"my name is {name} , I am {age} years")
func("Abhinav",20);

my name is Abhinav , I am 20 years

In [42]:
# passing multiple arguments to a function
def func(*args):
    for i in args:
        print(i,end=" ")
func(10,20,30,40)

10 20 30 40

In [20]:
# returning multiple values from a function 
def calc(a,b):
    return a+b,a-b
add , sub = calc(10,4)
print("add : ", add)
print("sub : ", sub)

add :  14
sub :  6

In [44]:
# default argument
def introduce(name, age=18):
    print(f"My name is {name} and I am {age} years old.")

introduce("Alice")              
introduce("Bob", 25)

My name is Alice and I am 18 years old.
My name is Bob and I am 25 years old.

In [65]:
# create an inner function to calculate the addition in the following way :
# 1. create an outer function that will accept two parameters a and b 
# 2. create an inner function inside an outer function that will calculate the addition 
#    a and b at last outer function will add 5 into addition and return it 

def outer(a,b):
    square = a**2
    def inner(a,b):
        return a+b
    add = inner(a,b) 
    return add +5
    

outer(10,15)

30

In [67]:
def func(n):
    if n == 0 :
        return 1
    return func(n-1)*n
func(5)

120

In [73]:
# assign a different name to a function and call it through the new name 
def greet(name):
    print(f"Hello, {name}!")
    
say_hello = greet 
say_hello("Kid")

Hello, Kid!

In [93]:
# generate a list of all even numbers between 10 to 50
def even(a,b):
    even_list = []
    for i in range(a,b):
        if i % 2 == 0:
            even_list.append(i)
    return even_list

even_list= even(10,50)
for i in even_list:
    print(i,end =" ")
print("\n")
print(max(even_list))

10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48

48